*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.head-page{

}

.nav-page{

}

.nav-list{

}

.nav-link{

}

.container{

}

.main-page{

}

.edge-list{

}

.edge-first{

}

.edge-second{

}

.edge-third{

}

.main-text{

}

.description-text{

}

.main_list{

}

.service-list{

}

.service-description{

}

.service-section{

}

.service-text{

}

.about-page{

}

.main-work{

}

.work-list{

}

.edge-work{

}

.table-skills{

}

.table_frame_settings{

}

.description_table_frame_settings{

}

.partners{

}

.partners-list{

}

.footer-page{

}

.social-list{

}

.profit-list{

}

.profit-title-first{

}

.profit-title-last{

}
