/* Fonts */

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
    url(../fonts/roboto.woff2) format("woff2"),
    url(../fonts/roboto.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto Medium"),
    url(../fonts/robotomedium.woff2) format("woff2"),
    url(../fonts/robotomedium.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"),
    url(../fonts/robotobold.woff2) format("woff2"),
    url(../fonts/robotobold.woff) format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-bg-gray: #EEEEEE;
  --basic-light-gray: #666666;
  --basic-medium-gray: #444444;
  --basic-dark-gray: #283136;
  --basic-light-red: #FB565A;
  --basic-light-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-range-dot-gray: #ABABAB;
  --basic-pagination-border: #DBDBDB;

  --special-social-gradient-gray: #E1E1E1;
  --special-border-light-gray: #D7DCDE;
  --special-toggle-shadow-gray: #CFCFCF;
  --special-hover-red: #E74246;
  --special-active-red: #D7373B;
  --special-hover-green: #00BC6C;
  --special-active-green: #00AA62;
  --special-hover-yellow: #EAB534;
  --special-active-yellow: #E5A722;
  --special-hover-gray: #B4B9BB;
  --special-hover-black: #4D4D4D;
  --special-hover-button: #DFDFDF;
  --special-active-button: #D5D5D5;
  --special-filter-sort-arrow: #A6A6A6;
  --special-filter-sort-arrow-active: #231F20;

  --special-border-pagination: #C1C1C1;
  --special-card: #E9E9E9;

  --special-black-font-link-active: rgba(0, 0, 0, 0.3);
  --special-white-font-link-active: rgba(255, 255, 255, 0.3);
  --special-box-shadow-modal: rgba(0, 0, 0, 0.40);
  --special-box-shadow-active: rgba(0, 1, 1, 0.10);
}

/* Global */

.page {
  height: 100%;
}

.is-disabled-scroll {
  overflow: hidden;
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-width: 375px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0 140px;
}

/* Visually hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Link */

.link {
  display: inline-block;
  vertical-align: baseline;
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
}

.link_red {
  background-color: var(--basic-light-red);
}

.link_green {
  background-color: var(--basic-light-green);
}

.link_yellow {
  background-color: var(--basic-yellow);
}

.active {
  border-bottom: 2px solid var(--basic-light-red);
}

/* Main header */

.main-header {
  background-color: var(--basic-bg-gray);
  padding-top: 50px;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo:hover {
  opacity: 0.7;
}

.main-header__logo:active {
  opacity: 0.3;
}

.main-nav {
  margin-right: auto;
}

.main-nav__list {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 45px;
}

.main-nav__list .active {
  cursor: default;
  padding-bottom: 20px;
}

.main-nav__list a {
  font: inherit;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-nav__list a:hover {
  color: var(--basic-light-red);
}

.main-nav__list a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.basket {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 40px;
  margin-left: 45px;
}

.basket:hover {
  color: var(--basic-light-red);
}

.basket:active {
  color: var(--special-black-font-link-active);
}

.basket::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Advantages */

.advantages {
  background-color: var(--basic-bg-gray);
}

.advantages-swiper-slide__title {
  font: inherit;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-top: 65px;
}

.advantages-swiper-slide__text {
  font: inherit;
  color: var(--basic-dark-gray);
  max-width: 415px;
  margin: 0;
  margin-top: 30px;
}

.advantages .link {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  padding: 16px 54px;
  border-radius: 3px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin-top: 35px;
}

.advantages .link:hover {
  background-color: var(--special-hover-red);
}

.advantages .link:active {
  color: var(--special-white-font-link-active);
}

.swiper-pagination {
  bottom: 95px !important;
  left: 50% !important;
  width: 10% !important;
}

.swiper-pagination span {
  width: 18px !important;
  height: 18px !important;
  background-color: var(--basic-white) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  margin: 8px !important;
}

.swiper-pagination span.swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination span.swiper-pagination-bullet-active::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid var(--special-border-pagination);
  border-radius: 50%;
}

.advantages .link:active {
  background-color: var(--special-active-red);
}

.advantages .link:active span {
  opacity: 0.3;
}

.nav-wrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: flex-start;
}

.swiper-slide {
  display: flex;
  opacity: 0 !important;
  position: relative;
  min-height: 430px;
}

.swiper-slide img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.swiper-slide div {
  max-width: 515px;
  position: relative;
  z-index: 1;
}

.swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}

/* Services */

.services {
  padding-top: 70px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 0;
  margin: 0;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-bg-gray);
}

.services__list-item h3 {
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 15px;
}

.services__list-item p {
  font: inherit;
  color: var(--basic-dark-gray);
  max-width: 260px;
  margin: 0;
  margin-top: 20px;
}

.services .link {
  padding: 15px 40px;
  line-height: 18px;
  margin-top: 30px;
}

.services .link:active {
  color: var(--special-white-font-link-active);
}

.services .link_red:hover {
  background-color: var(--special-hover-red);
}

.services .link_red:active {
  background-color: var(--special-active-red);
}

.services .link_green:hover {
  background-color: var(--special-hover-green);
}

.services .link_green:active {
  background-color: var(--special-active-green);
}

.services .link_yellow:hover {
  background-color: var(--special-hover-yellow);
}

.services .link_yellow:active {
  background-color: var(--special-active-yellow);
}

/* Studio */

.studio {
  padding: 0;
  padding-top: 75px;
}

.studio__wrapper {
  display: flex;
  gap: 140px;
}

.studio__info {
  max-width: 650px;
}

.studio__info-title {
  font: inherit;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}

.studio__info-text {
  font: inherit;
  color: var(--basic-dark-gray);
  margin: 0;
  margin-top: 32px;
}

.studio__services-title {
  font: inherit;
  font-weight: 700;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
  margin: 0;
  margin-top: 40px;
}

.studio__services-list {
  font: inherit;
  color: var(--basic-dark-gray);
  margin: 0;
  margin-top: 25px;
  padding-left: 0;
}

.studio__services-list li {
  margin-bottom: 25px;
  padding-left: 32px;
  position: relative;
}

.studio__services-list li::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  background: var(--basic-light-red);

  top: 10px;
  left: 0;
}

.studio__services-list li:last-child {
  padding-bottom: 0;
}

.studio__advantages {
  max-width: 360px;
  margin-top: -30px;
  margin-left: 10px;
}

.studio__advantages p {
  font: inherit;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
}

.studio__advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding-left: 0;
}

.studio__advantages-list span {
  font: inherit;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  margin: 0;
}

.studio__advantages-list sup {
  font: inherit;
  font-size: 26px;
  line-height: 40px;
}

.studio__advantages-list p {
  font: inherit;
  line-height: 18px;
  color: var(--basic-dark-gray);
  text-align: left;
  text-transform: none;
}

/* Clients */

.clients {
  margin-top: 45px;
}

.clients-list__wrapper {
  border-top: 2px solid var(--basic-bg-gray);
  border-bottom: 2px solid var(--basic-bg-gray);
}

.clients-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin: 45px 0;
  padding-left: 0;
}

.clients-list li::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 52px;
  background-color: var(--basic-bg-gray);
  margin-left: 45px;
  top: 20px;
}

.clients-list li:last-child::after {
  display: none;
}

.clients-list a {
  opacity: 0.2;
}

.clients-list a:hover {
  opacity: 1;
}

.clients-list a:active {
  opacity: 0.1;
}

/* Contacts */

.contacts {
  margin-top: 75px;
}

.contacts-catalog-page {
  margin-top: 65px;
}

.contacts .container {
  position: relative;
}

.contacts__map {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.contacts__map-city {
  position: absolute;
  top: 0;
  font-size: 12px;
  color: var(--basic-bg-gray);
}

.contacts__map-street {
  position: absolute;
  top: 14px;
  font-size: 12px;
  color: var(--basic-bg-gray);
}

.contacts__map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.contacts__map img {
  width: 100%;
}

.contacts__info {
  position: absolute;
  z-index: 1;
  left: 140px;
  transform: translateY(16%);
  width: 220px;
  height: 210px;
  padding: 50px;
  background-color: var(--basic-white);
}

.contacts__info h3 {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__info address {
  font: inherit;
  line-height: 18px;
  color: var(--basic-light-gray);
  margin-top: 23px;
  max-width: 190px;
}

.contacts__phone {
  display: block;
  font: inherit;
  line-height: 18px;
  color: var(--basic-light-gray);
  margin-top: 20px;
}

.contacts__modal-btn {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 15px 45px;
  margin-top: 35px;
  white-space: nowrap;
}

.contacts__modal-btn:hover {
  cursor: pointer;
  background-color: var(--special-hover-red);
}

.contacts__modal-btn:active {
  background-color: var(--special-active-red);
  color: var(--special-white-font-link-active);
}

.contacts__modal-btn:active span {
  opacity: 0.3;
}

/* Footer */

.main-footer {
  margin-top: 60px;
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  gap: 140px;
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding-left: 0;
}

.main-footer__list a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--special-social-gradient-gray);
}

.main-footer__list a:hover {
  background: linear-gradient(0deg, var(--special-hover-red), var(--special-hover-red)), var(--basic-white);
}

.main-footer__list a:active {
  background: linear-gradient(0deg, var(--special-active-red), var(--special-active-red)), var(--basic-white);
}

.main-footer__list a:active svg {
  opacity: 0.1;
}

.main-footer__text-block h3 {
  font: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.main-footer__text-block p {
  font: inherit;
  line-height: 22px;
  color: var(--basic-medium-gray);
  margin: 0;
  margin-top: 10px;
}

/* Modal */

.modal {
  position: fixed;
  max-width: 960px;
  width: 100%;
  padding: 65px 100px 85px 100px;
  box-sizing: border-box;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px 0px var(--special-box-shadow-modal);
}

.modal h3 {
  font: inherit;
  font-size: 45px;
  line-height: 52px;
  font-weight: 700;
  margin: 0;
}

.modal label {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal input {
  display: block;
  width: 325px;
  padding: 15px;
  margin-top: 5px;
  font: inherit;
  line-height: 18px;
  border: 2px solid var(--special-border-light-gray);
  outline: none;
  opacity: 0.5;
}

.modal input:hover {
  border-color: var(--special-hover-gray);
}

.modal input:focus {
  border-color: var(--basic-black);
  opacity: 1;
}

.modal input::placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-medium-gray);
  opacity: 0.5;
}

.modal input:focus::placeholder {
  color: var(--basic-medium-gray);
  opacity: 1;
}

.modal input:invalid:not(:placeholder-shown) {
  border-color: var(--special-hover-red);
  color: var(--special-hover-red);
}

.modal.js-active {
  opacity: 1;
  pointer-events: all;
}

.modal.js-error {
  animation: shake 0.6s;
}

.modal .contacts-header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-header-block .js-close-popup {
  border: none;
  cursor: pointer;
  background: none;
  opacity: 0.3;
}

.contacts-header-block .js-close-popup:hover {
  opacity: 1;
}

.contacts-header-block .js-close-popup:active {
  opacity: 0.1;
}

.contacts__form {
  margin-top: 40px;
}

.contacts__form p {
  margin: 0;
}

.contacts__form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.contacts__form-letter-block {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.contacts__form-letter-block textarea {
  display: block;
  box-sizing: border-box;
  height: 120px;
  padding-top: 15px;
  padding-left: 15px;
  margin-top: 10px;
  font: inherit;
  line-height: 18px;
  border: 2px solid var(--special-border-light-gray);
  border-radius: 3px;
  resize: none;
  outline: none;
  opacity: 0.5;
}

.contacts__form-letter-block textarea::placeholder {
  font: inherit;
  line-height: 18px;
  color: var(--basic-medium-gray);
  opacity: 0.5;
}

.contacts__form-letter-block textarea:hover {
  border-color: var(--special-hover-gray);
}

.contacts__form-letter-block textarea:focus {
  border-color: var(--basic-black);
  opacity: 1;
}

.contacts__form-letter-block textarea:focus::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.button {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 15px 85px;
  margin-top: 45px;
  border-radius: 3px;
}

.button_red {
  background-color: var(--basic-light-red);
}

.contacts__form .button_red:hover {
  background-color: var(--special-hover-red);
}

.contacts__form .button_red:active {
  background-color: var(--special-active-red);
  color: var(--special-white-font-link-active);
}

/* Сatalog page */

.title {
  background-color: var(--basic-bg-gray);
  padding-top: 60px;
  padding-bottom: 110px;
}

.main-title {
  font: inherit;
  font-weight: 500;
  font-size: 55px;
  line-height: 57px;
  text-align: center;
  margin: 0;
}

.price__title {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.main__wrapper {
  display: flex;
  margin-top: 55px;
  gap: 140px;
}

.templates__catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.templates__catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.templates__catalog-filter-section {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.templates__filter-controls {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.templates__preview {
  margin-top: 90px;
}

.templates__preview-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 65px 40px;
  margin: 0;
  padding: 0;
}

.filter-form legend {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form-price legend {
  margin-bottom: 48px;
}

.range__filter {
  width: 260px;
  margin-top: 50px;
}

.range__controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-bg-gray);
  border-radius: 3px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.range__scale {
  height: 2px;
  background: var(--special-range-track);
}

.range__bar {
  width: 70%;
  height: 2px;
  background: var(--basic-light-green);
}

.range__controls .range__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-range-dot-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-toggle-shadow-gray);
  cursor: pointer;
}

.range__controls .range__toggle_min {
  left: 18px;
}

.range__controls .range__toggle_max {
  left: 160px;
}

.price__controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price__controls label {
  font: inherit;
  line-height: 22px;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
}

.price__controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-dark-gray);
  border: none;
  border-radius: 3px;
  background: var(--basic-bg-gray);
  font: inherit;
}

.price__controls input[value] {
  font: inherit;
  line-height: 22px;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
}

.filter-form-grid {
  margin-top: 55px;
}

.filter-form-grid__title {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form-grid__list {
  margin: 0;
  margin-top: 15px;
  padding-left: 0;
}

.filter-form-grid__list-item {
  position: relative;
  font: inherit;
  line-height: 20px;
  color: var(--basic-dark-gray);
  margin-bottom: 20px;
}

.filter-form-grid__list-item:last-child {
  margin-bottom: 0;
}

.filter-form-grid__list-item label {
  padding-left: 35px;
}

.filter-form-grid__list label::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  opacity: 0.4;
  border: 4px solid var(--special-hover-black);
  top: -3px;
  left: 0;
  border-radius: 50%;
}

.filter-form-grid__list input:checked+label::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  left: 12px;
  top: 12px;
  transform: translate(-45%, -75%);
  background: var(--special-hover-black);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-form-grid__list label:hover::after {
  opacity: 1;
}

.filter-form-grid__list input:focus+label::after {
  opacity: 1;
}

.filter-form-grid__list input:focus+label::before {
  opacity: 1;
}

.filter-form-grid__list input:checked+label:hover::before {
  opacity: 1;
}

.filter-form-grid__list input:checked+label:focus::after {
  opacity: 1;
}

.filter-form-grid__list input:checked+label:focus::before {
  opacity: 1;
}

.filter-form-grid__list input:disabled+label::after {
  opacity: 0.1;
}

.filter-form-grid__list input:disabled+label:hover::before {
  opacity: 0.4;
}

.filter-form-grid__list input:disabled+label {
  opacity: 0.1;
}

/* Additions */

.filter-form-additions {
  margin-top: 40px;
}

.filter-form-additions legend {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-form-additions label {
  font: inherit;
  line-height: 20px;
  color: var(--basic-dark-gray);
}

.filter-form-additions__list {
  margin: 0;
  margin-top: 15px;
  padding-left: 0;
}

.filter-form button {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: none;
  border-radius: 3px;
  background-color: var(--basic-bg-gray);
  width: 260px;
  margin-top: 55px;
  padding: 15px 90px;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: var(--special-hover-button);
}

.filter-form button:active {
  background-color: var(--special-active-button);
  box-shadow: 0px 3px 0px 0px var(--special-box-shadow-active) inset;
  color: var(--special-black-font-link-active);
}

.filter-form button:active span {
  opacity: 0.3;
}

.filter-form-additions__list li {
  position: relative;
  margin-bottom: 15px;
}

.filter-form-additions__list li:last-child {
  margin-bottom: 0;
}

.filter-form-additions__list label {
  padding-left: 35px;
}

.filter-form-additions__list label::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  left: 0;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.4;
}

.filter-form-additions__list input:checked+label::before {
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.4;
}

.filter-form-additions__list label:hover::before {
  opacity: 1;
}

.filter-form-additions__list input:checked+label:hover::before {
  opacity: 1;
}

.filter-form-additions__list input:focus+label::before {
  opacity: 1;
}

.filter-form-additions__list input:disabled+label::before {
  opacity: 0.1;
}

.filter-form-additions__list input:disabled+label {
  opacity: 0.1;
}

/* Templates */

.templates__catalog-filter p {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.templates__catalog-filter-list a {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
}

.templates__catalog-filter-list a:hover {
  opacity: 0.6;
}

.templates__catalog-filter-list a:active {
  opacity: 1;
}

.templates__catalog-filter-list .templates-filter-list_active {
  opacity: 1;
}

.templates__filter-sort svg path {
  fill: var(--special-filter-sort-arrow);
  opacity: 0.2;
}

.templates__filter-sort:hover svg path {
  opacity: 1;
}

.templates__filter-sort:active svg path {
  fill: var(--special-filter-sort-arrow-active);
}

.templates__filter-sort_active svg path {
  opacity: 1;
  fill: var(--special-filter-sort-arrow-active);
}

.templates__filter-sort_active:focus svg path {
  opacity: 1;
  fill: var(--special-filter-sort-arrow-active);
}

/* Templates preview */

.templates__preview-item {
  position: relative;
}

.card-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: var(--special-card);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  gap: 10px;
  padding: 13px 15px;
  box-sizing: border-box;
  transform: translateY(-100%);
}

.templates__preview-item:hover .card-decor {
  background: var(--special-hover-black);
}

.card-decor span {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.templates__preview-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--basic-bg-gray);
  z-index: 1;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  text-align: center;
  padding: 50px;
  padding-top: 25px;
  box-sizing: border-box;
}

.templates__preview-item-info h3 {
  margin: 0;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.templates__preview-item:hover .templates__preview-item-info {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.templates__preview-item-info a {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.templates__preview-item-info .templates-item__title:hover {
  color: var(--basic-light-red);
}

.templates__preview-item-info .templates-item__title:active {
  opacity: 0.3;
}

.templates__preview-item-info p {
  font: inherit;
  line-height: 18px;
  color: var(--basic-light-gray);
  margin: 0;
  margin-top: 15px;
  max-width: 255px;
}

.templates__preview-item-info .templates__preview-item-price {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border-radius: 3px;
  padding: 15px 72px;
  outline: none;
  border: none;
  margin-top: 35px;
}

.templates__preview-item-info .templates__preview-item-price:hover {
  background-color: var(--special-hover-red);
}

.templates__preview-item-info .templates__preview-item-price:focus {
  background-color: var(--special-hover-red);
}

.templates__preview-item-info .templates__preview-item-price:active {
  background-color: var(--special-active-red);
  border-radius: 3px;
  box-shadow: 0px 3px 0px 0px var(--special-box-shadow-active) inset;
  color: var(--special-white-font-link-active);
}

/* Templates pagination */

.templates__pagination {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: calc(100% - 270px);
}

.templates__pagination li {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--basic-bg-gray);
  border: 3px solid var(--basic-bg-gray);
  border-radius: 3px;
  cursor: pointer;
}

.templates__pagination li:hover {
  background: var(--special-hover-button);
  border-color: var(--special-hover-button);
}

.templates__pagination li:active {
  background: var(--special-active-button);
  border-color: var(--special-active-button);
  box-shadow: 0px 3px 0px 0px var(--special-box-shadow-active) inset;
}

.templates__pagination li:active a {
  opacity: 0.3;
}

.templates__pagination a {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.templates__pagination li.is-active {
  background: var(--basic-white);
  border: 3px solid var(--basic-pagination-border);
}

.cards-navigate {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 45px;
}

.cards-navigate button {
  outline: none;
  border: none;
  padding: 15px;
  text-align: center;
  width: 100%;
  max-width: 260px;
  margin-left: 10px;
  font: inherit;
  line-height: 21px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.cards-navigate button:hover {
  background: var(--special-hover-button);
}

.cards-navigate button:focus {
  background: var(--special-hover-button);
}

.cards-navigate button:active {
  background: var(--special-active-button);
  box-shadow: 0px 3px 0px 0px var(--special-box-shadow-active) inset;
  color: var(--special-black-font-link-active);
}

/* Animation for modal */

@keyframes shake {

  0%,
  100% {
    transform: translate(-50%, -50%)
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-50%, -50%)
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-40%, -50%)
  }
}
