/* Fonts */

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
    url(../fonts/roboto.woff2) format("woff2"),
    url(../fonts/roboto.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto Medium"),
    url(../fonts/robotomedium.woff2) format("woff2"),
    url(../fonts/robotomedium.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"),
    url(../fonts/robotobold.woff2) format("woff2"),
    url(../fonts/robotobold.woff) format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-bg-gray: #EEEEEE;
  --basic-light-gray: #666666;
  --basic-medium-gray: #444444;
  --basic-dark-gray: #283136;
  --basic-light-red: #FB565A;
  --basic-light-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-range-dot-gray: #ABABAB;
  --basic-pagination-border: #DBDBDB;

  --special-social-gradient-gray: #E1E1E1;
  --special-border-light-gray: #D7DCDE;
  --special-toggle-shadow-gray: #CFCFCF;
  --special-hover-red: #E74246;
  --special-active-red: #D7373B;
  --special-hover-green: #00BC6C;
  --special-active-green: #00AA62;
  --special-hover-yellow: #EAB534;
  --special-active-yellow: #E5A722;
  --special-hover-gray: #B4B9BB;
  --special-radio: #4D4D4D;
  --special-hover-button: #DFDFDF;
  --special-active-button: #D5D5D5;
  --special-filter-sort-arrow: #A6A6A6;
  --special-filter-sort-arrow-active: #231F20;
  --special-link-hover-gray: #B4B9BB;
  --special-link-active-gray: #D5D5D5;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-width: 375px;
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  border: none;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0 140px;
}

/* Visually hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Link */

.link {
  display: inline-block;
  font: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
}

.link_red {
  background-color: var(--basic-light-red);
}

.link_green {
  background-color: var(--basic-light-green);
}

.link_yellow {
  background-color: var(--basic-yellow);
}

/* Main navigation */

.main-header {
  background-color: var(--basic-bg-gray);
}

.main-header__logo:hover {
  opacity: 0.7;
}

.main-header__logo:active {
  opacity: 0.3;
}

.main-nav__list a {
  font: inherit;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-nav__list a:hover {
  color: var(--basic-light-red);
}

.main-nav__list a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__cart-text {
  font: inherit;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-nav__cart-text:hover {
  color: var(--basic-light-red);
}

.main-nav__cart-text:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Advantages */

.advantages {
  background-color: var(--basic-bg-gray);
  padding-top: 78px;
}

.advantages-swiper-slide__desc {
  font: inherit;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.advantages-swiper-slide__text {
  font: inherit;
  color: var(--basic-dark-gray);
}

.advantages .link {
  font-weight: 500;
  line-height: 18px;
  padding: 16px 54px;
}

.advantages .link:hover {
  background-color: var(--special-hover-red);
}

.advantages .link:active {
  background-color: var(--special-active-red);
}

.advantages .link:active span {
  opacity: 0.3;
}

/* Services */

.services {
  border-bottom: 2px solid var(--basic-bg-gray);
}

.services__list-item h3 {
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__list-item p {
  font: inherit;
  color: var(--basic-dark-gray);
}

.services .link {
  padding: 15px 40px;
  line-height: 18px;
}

.services .link:active span {
  opacity: 0.3;
}

.services .link_red:hover {
  background-color: var(--special-hover-red);
}

.services .link_red:active {
  background-color: var(--special-active-red);
}

.services .link_green:hover {
  background-color: var(--special-hover-green);
}

.services .link_green:active {
  background-color: var(--special-active-green);
}

.services .link_yellow:hover {
  background-color: var(--special-hover-yellow);
}

.services .link_yellow:active {
  background-color: var(--special-active-yellow);
}

/* Studio */

.studio__info-desc {
  font: inherit;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.studio__info-text {
  font: inherit;
  color: var(--basic-dark-gray);
}

.studio h3 {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-dark-gray);
}

.studio__desc-list {
  font: inherit;
  color: var(--basic-dark-gray);
}

.studio__desc-list li {
  padding-bottom: 25px;
}

.studio__desc-list li:last-child {
  padding-bottom: 0;
}

.studio__advantages p {
  font: inherit;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.studio__advantages-list p {
  font: inherit;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.studio__advantages-list sup {
  font: inherit;
  font-size: 26px;
  line-height: 40px;
}

.studio__advantages-list span {
  font: inherit;
  line-height: 18px;
  color: var(--basic-dark-gray);
}

/* Clients */

.clients {
  border-top: 2px solid var(--basic-bg-gray);
  border-bottom: 2px solid var(--basic-bg-gray);
}

.clients__list a {
  opacity: 0.2;
}

.clients__list a:hover {
  opacity: 1;
}

.clients__list a:active {
  opacity: 0.1;
}

/* Contacts */

.contacts {
  background: url("../img/map.png"), url("../img/map-marker.png") no-repeat;
}

.contacts__info {
  width: 320px;
  background-color: var(--basic-white);
  text-align: center;
}

.contacts__info h2 {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contact__info p {
  font: inherit;
  line-height: 18px;
  color: var(--basic-light-gray);
}

.contacts__phone {
  font: inherit;
  line-height: 18px;
  color: var(--basic-light-gray);
}

.contacts__modal {
  font: inherit;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-light-red);
  text-transform: uppercase;
  border: none;
}

.contacts__modal:hover {
  cursor: pointer;
  background-color: var(--special-hover-red);
}

.contacts__modal:active {
  background-color: var(--special-active-red);
}

.contacts__modal:active span {
  opacity: 0.3;
}

/* Footer */

.main-footer__social-list a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--special-social-gradient-gray);
}

.main-footer__social-list a:hover {
  background: linear-gradient(0deg, var(--special-hover-red), var(--special-hover-red)), var(--basic-white);
}

.main-footer__social-list a:active {
  background: linear-gradient(0deg, var(--special-active-red), var(--special-active-red)), var(--basic-white);
}

.main-footer__social-list a:active svg {
  opacity: 0.1;
}

.main-footer__slogan {
  font: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.main-footer__text {
  font: inherit;
  line-height: 22px;
  color: var(--basic-medium-gray);
}

/* Modal */

.js-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 590px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  background-color: var(--basic-white);
}

.js-modal.js-active {
  opacity: 1;
  pointer-events: all;
}

.js-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  background: none;
}

.js-close-popup:hover svg path {
  opacity: 0.3;
}

.js-close-popup:active svg path {
  opacity: 0.1;
}

.modal p {
  font: inherit;
  font-size: 45px;
  line-height: 52px;
  font-weight: 700;
}

.modal label {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
}

.modal input {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  border: 2px solid var(--special-border-light-gray);
}

.modal input:hover {
  border: 2px solid var(--special-hover-gray);
}

.modal input:active {
  border: 2px solid var(--basic-black);
}

.modal input::placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-medium-gray);
  opacity: 0.5;
}

.modal input:hover::placeholder {
  border-color: var(--special-hover-gray);
}

.modal input:focus::placeholder {
  color: var(--basic-medium-gray);
  border-color: var(--basic-black);
  opacity: 1;
}

.modal input:focus {
  color: var(--basic-medium-gray);
}

.modal textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  resize: none;
  outline: none;
}

.modal textarea::placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-medium-gray);
  opacity: 0.5;
}

.modal textarea:focus::placeholder {
  color: var(--basic-black);
  opacity: 1;
}

.modal input:invalid:not(:placeholder-shown) {
  border: 2px solid var(--special-hover-red);
  color: var(--special-hover-red);
}

.button {
  font: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button_red {
  background-color: var(--basic-light-red);
}

.contacts__form .button_red:hover {
  background-color: var(--special-hover-red);
}

.contacts__form .button_red:active {
  background-color: var(--special-active-red);
}

/* Ð¡atalog */

.active {
  border-bottom: 2px solid var(--basic-light-red);
}

.title {
  background-color: var(--basic-bg-gray);
  padding-top: 57px;
  padding-bottom: 108px;
}

.main-title {
  font: inherit;
  font-weight: 500;
  font-size: 55px;
  line-height: 57px;
  text-align: center;
}

.price__title {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form legend {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form-price legend {
  margin-bottom: 48px;
}

.range__filter {
  width: 260px;
  padding-bottom: 54px;
}

.range__controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-bg-gray);
  border-radius: 3px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range__scale {
  height: 2px;
  background: var(--special-range-track);
}

.range__bar {
  width: 70%;
  height: 2px;
  background: var(--basic-light-green);
}

.range__controls .range__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-range-dot-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-toggle-shadow-gray);
  cursor: pointer;
}

.range__controls .range__toggle_min {
  left: 18px;
}

.range__controls .range__toggle_max {
  left: 160px;
}

.price__controls {
  display: flex;
  justify-content: space-between;
}

.price__controls label {
  font: inherit;
  line-height: 22px;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
}

.price__controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-dark-gray);
  border: none;
  border-radius: 3px;
  background: var(--basic-bg-gray);
  font: inherit;
}

.price__controls input[value] {
  font: inherit;
  line-height: 22px;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
}

.filter-form-grid__title {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form-grid__list-item {
  position: relative;
  font: inherit;
  line-height: 20px;
  color: var(--basic-dark-gray);
  margin-bottom: 20px;
}

.filter-form-grid__list-item:last-child {
  margin-bottom: 0;
}

.filter-form-grid__list-item label {
  padding-left: 40px;
}

.filter-form-grid__list label::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  opacity: 0.4;
  border: 4px solid var(--special-radio);
  left: 0;
  border-radius: 50%;
}

.filter-form-grid__list input:checked+label::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  left: 12px;
  top: 12px;
  transform: translate(-50%, -50%);
  background: var(--special-radio);
  border-radius: 50%;
  opacity: 0.4;
}

/* Additions */

.filter-form-additions legend {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-form-additions label {
  font: inherit;
  line-height: 20px;
  color: var(--basic-dark-gray);
}

.filter-form button {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: none;
  background-color: var(--basic-bg-gray);
  width: 260px;
}

.filter-form button:hover {
  background-color: var(--special-hover-button);
}

.filter-form button:active {
  background-color: var(--special-active-button);
  opacity: 0.3;
}

.filter-form-additions__list li {
  position: relative;
  margin-bottom: 20px;
}

.filter-form-additions__list li:last-child {
  margin-bottom: 0;
}

.filter-form-additions__list label {
  padding-left: 40px;
}

.filter-form-additions__list label::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  left: 0;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.4;
}

.filter-form-additions__list input:checked+label::before {
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.4;
}

.filter-form-additions__list label:hover::before {
  opacity: 1;
}

.filter-form-additions__list input:checked+label:hover::before {
  opacity: 1;
}

.filter-form-additions__list input:disabled+label::before {
  opacity: 0.1;
}

.filter-form-additions__list input:disabled+label {
  opacity: 0.3;
}

/* Templates */

.templates__catalog-filter p {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.templates__catalog-filter-list a {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  color: var(--basic-black);
}

.templates__catalog-filter-list a:hover {
  opacity: 0.6;
}

.templates__catalog-filter-list a:active {
  opacity: 1;
}

.templates__catalog-filter-list .templates-filter-list_active {
  opacity: 1;
}

.templates__filter-sort {
  cursor: pointer;
}

.templates__filter-sort svg path {
  fill: var(--special-filter-sort-arrow);
  opacity: 0.2;
}

.templates__filter-sort:hover svg path {
  opacity: 1;
}

.templates__filter-sort:active svg path {
  fill: var(--special-filter-sort-arrow-active);
}

.templates__filter-sort_active svg path {
  opacity: 1;
  fill: var(--special-filter-sort-arrow-active);
}

/* Templates preview */

.templates__preview-item {
  position: relative;
  width: 360px;
}

.templates__preview-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--basic-bg-gray);
  z-index: 1;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  text-align: center;
  width: 360px;
}

.templates__preview-item:hover .templates__preview-item-info {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.templates__preview-item-info a {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.templates__preview-item-info .templates-item__title:hover {
  color: var(--basic-light-red);
}

.templates__preview-item-info .templates-item__title:active {
  opacity: 0.3;
}

.templates__preview-item-info p {
  font: inherit;
  line-height: 18px;
  color: var(--basic-light-gray);
}

.templates__preview-item-info .templates__preview-item-price {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border-radius: 3px;
  padding: 15px 72px;
  outline: none;
  border: none;
}

.templates__preview-item-info .templates__preview-item-price:hover {
  background-color: var(--special-hover-red);
}

.templates__preview-item-info .templates__preview-item-price:active {
  background-color: var(--special-active-red);
  border-radius: 3px;
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}

/* Templates pagination */

.templates__pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.templates__pagination a {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background: var(--basic-bg-gray);
  padding: 17px 20px;
}

.templates__pagination .active-page {
  background: var(--basic-white);
  border: 3px solid var(--basic-pagination-border);
  border-radius: 3px;
  pointer-events: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.templates__pagination a:hover {
  background: var(--special-link-hover-gray);
}

.templates__pagination a:active {
  opacity: 0.3;
  background: var(--special-link-active-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.templates__pagination .next-page {
  padding: 17px 78px;
}

.templates__pagination li {
  margin-right: 11px;
}

.templates__pagination li:last-child {
  margin-right: 0;
}
